<% content_for :title, "ITコーチエントリー完了画面 | 株式会社IT Coach" %>
<% content_for :meta_description, "ITコーチ（業務委託）へのエントリー完了画面です。" %>
<% content_for :meta_keywords, "エントリー完了画面" %>

<div class="space-y-4 sm:space-y-6 bg-backgroundGray pt-4 sm:pt-6 pb-20 sm:pb-30">
  <div class="py-12 sm:py-20 bg-white px-5 sm:px-30">
    <div class="text-center">
      <h1 class="h1_text">エントリーが完了しました</h1>
       <p class="base_text mt-8 sm:mt-6">ご記入いただきありがとうございます。<br>
書面審査結果は1週間以内に登録メールアドレスへお送りします。<br>※合格の場合は、次のプロセスの面談審査へ進んでいただけます。<br>
※不合格の場合も、審査結果連絡から90日後に再エントリーが可能です。</p>
    </div>
  </div>
</div>