<% content_for :javascripts do %>
  <%= javascript_pack_tag "utilities/text" %>
<% end %>

<div class="space-y-4 sm:space-y-6 bg-backgroundGray pt-4 sm:pt-6 pb-20 sm:pb-30">
  <div class="py-12 sm:py-20 bg-white px-5 sm:px-30">
    <div class="text-center">
      <h1 class="h1_text">問い合わせが完了しました</h1>
       <p class="base_text mt-8 sm:mt-6">ご記入いただきありがとうございます。<br>
3営業日以内に担当者より登録メールアドレスもしくは登録電話番号へご連絡いたします。</p>
    </div>
  </div>
</div>