<% content_for :title, "無料オンライン相談申し込み完了画面 | 株式会社IT Coach" %>
<% content_for :meta_description, "ITコーチの無料オンライン相談申し込み完了画面です。" %>
<% content_for :meta_keywords, "無料オンライン相談申し込み完了画面" %>

<div class="space-y-4 sm:space-y-6 bg-backgroundGray pt-4 sm:pt-6 pb-20 sm:pb-30">
  <div class="py-12 sm:py-20 bg-white px-5 sm:px-30">
    <div class="text-center">
      <h1 class="h1_text">無料オンライン相談申し込みが完了しました</h1>
       <p class="base_text mt-8 sm:mt-6">ご記入いただきありがとうございます。<br>
3営業日以内に担当者より登録メールアドレスもしくは登録電話番号へご連絡いたします。</p>
    </div>
  </div>
</div>