<footer class="bg-gray-700 text-white py-8 sm:py-16 px-5 sm:pl-30 space-y-8 sm:space-y-0 sm:space-x-4 text-sm sm:text-base sm:flex mt-10 sm:mt-20">
  <div class="space-y-4">
    <p><%= link_to "ITコーチを活用したい企業様はコチラ", root_path %></p>
    <p><%= link_to "ITコーチになりたい方はコチラ", root_path %></p>
    <p><%= link_to "採用情報", root_path %></p>
    <p><%= link_to "プライバシーポリシー", root_path %></p>
  </div>

</footer>