<footer class="bg-gray-700 text-white pt-8 pb-40 sm:pt-16 sm:pb-60 px-5 sm:pl-30 space-y-8 sm:space-y-0 sm:space-x-4 text-sm sm:text-base sm:flex">
  <div class="space-y-4">
    <p><%= link_to "ITコーチを活用したい企業様はコチラ", contact_path, id: "footer_contact" %></p>
    <p><%= link_to "ITコーチになりたい方はコチラ", itcoach_recruitment_path, id: "footer_itcoach_recruitment" %></p>
    <p><%= link_to "採用情報", "https://recruit.itcoach.co.jp/", target: :_blank, id: "footer_recruitment" %></p>
    <p><%= link_to "プライバシーポリシー", privacy_path, id: "footer_privacy" %></p>
  </div>

</footer>