<footer class="bg-gray-700 text-white py-8 sm:pt-16 sm:pb-32 px-5 sm:pl-32 space-y-8 sm:space-y-0 sm:space-x-4 text-sm sm:flex mt-10 sm:mt-20">
  <div class="space-y-4 w-40">
    <p><%= link_to "ITコーチを活用したい企業様はコチラ", root_path %></p>
    <p><%= link_to "ITコーチになりたい方はコチラ", root_path %></p>
    <p><%= link_to "採用情報", root_path %></p>
    <p><%= link_to "プライバシーポリシー", root_path %></p>
  </div>

</footer>