<header class="flex justify-between items-center px-5 py-4 sm:px-10 sm:py-6 shadow fixed top-0 w-full bg-white">
    <div>
      <%= link_to root_path do %>
        <%= image_tag 'logo.png' , class: "h-6 sm:h-full" %>
      <% end %>
    </div>
    <% if false %>
      <div class="flex space-x-2 sm:space-x-4">

        <%= image_tag 'menu.svg', class: "h-6 sm:h-full my-1" %>

      </div>
    <% end %>
</header>