<% content_for :title, "資料ダウンロード完了画面 | 株式会社IT Coach" %>
<% content_for :meta_description, "ITコーチの資料ダウンロード完了画面です。" %>
<% content_for :meta_keywords, "資料ダウンロード画面" %>

<div class="space-y-4 sm:space-y-6 bg-backgroundGray pt-4 sm:pt-6 pb-20 sm:pb-30">
  <div class="py-12 sm:py-20 bg-white px-5 sm:px-30">
    <div class="text-center">
      <h1 class="h1_text">資料ダウンロードが完了しました</h1>
       <p class="base_text mt-8 sm:mt-6">ご記入いただきありがとうございます。<br>
登録メールアドレス宛に資料ダウンロードURLをお送りしました。ご確認ください。</p>
    </div>
  </div>
</div>