<% content_for :title, "プライバシーポリシー | 株式会社IT Coach" %>
<% content_for :meta_description, "プライバシーポリシーページです。" %>
<% content_for :meta_keywords, "プライバシーポリシー" %>
<% content_for :og_title, "プライバシーポリシー | 株式会社IT Coach" %>
<% content_for :og_description, "プライバシーポリシー" %>

<% content_for :javascripts do %>
  <%= javascript_pack_tag "utilities/text" %>
<% end %>

<div class="space-y-4 sm:space-y-6 bg-backgroundGray pt-4 sm:pt-6 pb-20 sm:pb-30">
  <div class="py-12 sm:py-20 bg-white px-5 sm:px-30">
    <div class="space-y-4 sm:space-y-6">
      <h1 class="h1_text text-center">プライバシーポリシー</h1>

      <h3 class="h3_text">個人情報保護方針について</h3>
      <p class="base_text">株式会社IT Coach(以下「当社」)は、事業で得たすべての個人情報を適切に取扱うため、当社の全従業者が遵守すべき行動基準として本項「個人情報保護方針」を定め、その遵守の徹底を図るとともに継続的な改善に努めます。</p>

      <h4 class="h4_text">第1条（個人情報の管理・安全対策について）</h4>
      <p class="base_text">個人情報の管理は適正かつ厳重に行い、当社規程を役員および従業員に周知し、その遵守徹底に努めます。<br>
      個人情報への不正アクセス、個人情報の漏洩、毀損、滅失の予防に努め、情報セキュリティの向上及び是正を継続的に実施致します。</p>

      <h4 class="h4_text">第2条（個人情報の取得・利用について）</h4>
      <p class="base_text">当社は、事業内容を考慮した適切な個人情報の取得、利用を行います。<br>
      事業内容にて必要な範囲を超えた個人情報の取扱いを行わないこと及びそのための措置を講じることと致します。</p>

      <h4 class="h4_text">第3条（個人情報の委託・提供について）</h4>
      <p class="base_text">当社は，次に掲げる場合を除いて、あらかじめユーザーの同意を得ることなく、第三者に個人情報を提供することはありません。ただし、個人情報保護法その他の法令で認められる場合を除きます。<br>
      　1.人の生命，身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき<br>
      　2.公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき<br>
      　3.国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき<br>
      　4.予め次の事項を告知あるいは公表し、かつ当社が個人情報保護委員会に届出をしたとき<br>
      　　1.利用目的に第三者への提供を含むこと<br>
      　　2.第三者に提供されるデータの項目<br>
      　　3.第三者への提供の手段または方法<br>
      　　4.本人の求めに応じて個人情報の第三者への提供を停止すること<br>
      　　5.本人の求めを受け付ける方法<br>
      前項の定めにかかわらず，次に掲げる場合には，当該情報の提供先は第三者に該当しないものとします。<br>
      　1.当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合<br>
      　2.合併その他の事由による事業の承継に伴って個人情報が提供される場合<br>
      　3.個人情報を特定の者との間で共同して利用する場合であって、その旨並びに共同して利用される個人情報の項目，共同して利用する者の範囲，利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について，あらかじめ本人に通知し，または本人が容易に知り得る状態に置いた場合</p>

      <h4 class="h4_text">第4条（ 個人情報保護体制の継続的改善について）</h4>
      <p class="base_text">当社の個人情報保護体制について定期的に監査、改善を行います。当社の業務内容、社会情勢、情報システムの進歩等の変化を把握し、当社の個人情報保護体制が継続的に改善されるよう努めます。</p>

      <h4 class="h4_text">第5条（プライバシーポリシーの変更）</h4>
      <p class="base_text">1.本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて、ユーザーに通知することなく，変更することができるものとします。<br>
      2.当社が別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。</p>

      <p class="base_text">2021年6月1日 株式会社IT Coach<br>
      代表取締役 小松 遊気</p>
    </div>
  </div>
</div>